.teacher-header
{
    height: 80px;
    border: 1px solid black;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.teacher-sidebar
{

    height: calc(100vh - 100px);
    width: 300px;
    border: 1px solid black;
    position: sticky;
    top:100px;
}

.teacher-content
{
    border:1px solid red;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding:10px;
    width: 100%;
}

.btn
{
    height: fit-content;
}

.sidebar-x-content
{
    display: flex;
}


.file-container
{
    border : 1px solid black;
    height: fit-content;
    width: 100%;

    padding: 10px;

}

.root-file
{
    border : 3px dashed teal;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-message
{
    color : red;
}

.file-data
{
    display: flex;
    gap:10px;
    color:red;
}

.pdf-icon
{
    height: 50px;
}

.assignments-card-container 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assignments-container
{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.nav-assignment 
{
    color : black;
    text-decoration: none;
}

.enrollment-status
{
    display: flex;
    gap: 10px;
}

.logo-img {
  transition: transform 0.2s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}

.landing-header h4 {
  font-weight: bold;
  color: #333;
}


.logo 
{
    display: flex;
    align-items: center;
}

