body
{
    margin: 0;
    padding: 0;
}

tbody, td, tfoot, th, thead, tr 
{
    border : 1px solid #b4b4b4 !important;
    font-size: small;
    color: black;
}

.p-paginator
{
    justify-content: flex-start;
    border: 1px solid #b4b4b4;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-width: 0px;
}

.sidebar-icons
{
    height: 35px;
}

.sidebar-ul 
{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar-li 
{
    display: flex;
    gap : 20px;
    align-items: center;
    margin-left: 20px;
}

hr 
{
    opacity: 0.75 !important;
}

.my-classroom
{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.class-list-ul
{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.class-list
{
    display: flex;
    gap: 15px;
    font-size: medium;
}

.classroom-details
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classroom-actions 
{
    display: flex;
    gap: 10px;
}

.btn 
{
    color : white;
}

.classroom-actions
{
    text-decoration: none;
    color : white;
}

.form-actions
{
    display: flex;
    gap: 15px;
}